# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===========================
# Virtual Environments
# ===========================
.venv/
.case1/
venv/
env/

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Pytest
# ===========================
.pytest_cache/

# ===========================
# Python Tool Caches
# ===========================
.mypy_cache/
.ruff_cache/

# ===========================
# MLflow
# ===========================
mlruns/
mlflow.db

# ===========================
# Generated Artifacts
# ===========================
artifacts/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db
desktop.ini

# ===========================
# Python Build Files
# ===========================
build/
dist/
*.egg-info/